body {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #fff url(/Media/background.jpg) no-repeat fixed center top;
    background-size: 100% 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -15px;
    transition: all .5s;
    -webkit-transition: all .5s;
    font-size: 13px;
    min-height:595px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* MY OWN CUSTOM STYLESHEET FOR MVC APPLICATION STARTS BELOW*/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* #####################################################################################
###################### Do GÓRY #########################################################
##################################################################################### */
.scrollToTop {
    position: fixed;
    bottom: 5%;
    z-index: 999999;
    right: 5%;
    display: none;
    -webkit-transition: background 250ms ease 250ms;
    transition: background 250ms ease 250ms;
    border-radius: 40px!important;
    height: 80px;
    width: 3%;
    background-color: #f0ffffb0;
}

    .scrollToTop:before {
        content: "\5E";
        font-size: 5em;
        margin-left: 17%;
    }

    .scrollToTop:visited {
        text-decoration: none;
    }

    .scrollToTop:focus {
        text-decoration: none;
    }

    .scrollToTop:hover {
        text-decoration: none;
    }

/* #####################################################################################
###################### Navbar + Header #########################################################
##################################################################################### */
body#main {
    color: #333;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans',Arial,sans-serif;
}
div#tlo {
    background: #ffffffc7;
    background-size: cover;
    z-index: 9999 !important;
    top: 0;
    width: 100%;
    display: block;
}

    div#tlo a#header {
        float: left;
        display: block;
        margin: 0;
        width: auto;
        padding: 10px 0;
    }

        div#tlo a#header img {
            vertical-align: middle;
            width: 40%;
            margin: 0 auto;
            height: auto;
        }


div#accountNav {
    display: block;
    float: right;
    margin-top: 1%;
}

div#navigationBar {
    position: relative;
    width: 100%;
    background-color: #F2F2F2;
    display: block;
    z-index: 800;
    min-height: 0px;
    border-color: #fff0;
    margin-bottom: 0px;
    box-shadow: inset 10px 10px 19px 0 rgba(0,0,0,.05);
}

    div#accountNav ul li > a, div#navigationBar ul#navMenu li > a, div#accountNav ul li > a:visited, div#navigationBar ul#navMenu li > a:visited {
        color: #12354C;
        font-size: 0.93em;
        font-weight: 600;
        overflow: hidden;
        padding: 14px 34px;
        height: auto;
        -webkit-transition: 0.5s background ease;
        transition: 0.5s background ease;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        div#accountNav ul li > a:focus, div#accountNav ul li > a:hover, div#navigationBar ul#navMenu li > a:focus, div#navigationBar ul#navMenu li > a:hover {
            background-color: #bcc1c324;
            -webkit-transition: 0.5s all ease;
            transition: all 0.5s ease 0s;
            height: inherit;
            color: #0075C1;
            font-weight: 700;
        }
        div#accountNav ul li > a:active, div#navigationBar ul#navMenu li > a:active {
            color: #0075C1;
            font-weight: 800;
        }

div#accountNav ul li i {
    font-size: 30px;
    padding-top: 40%;
    color: #5f7192;
}
a#registerLink, a#loginLink, a#LogOff {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

i#homeIcon.fa.fa-home {
    font-size: 1.4em;
}
li#accountNavLine {
    padding-top: 2%!important;
    font-size: 24px!important;
}
li#bookingNavbar {
    margin-top: 6%;
    font-size: 0.7em;
    text-decoration: underline;
    font-style: italic;
}
/* #####################################################################################
###################### STOPKA ##########################################################
##################################################################################### */
section#footer {
    background-color: #252120;
    min-height: 115px;
}

    section#footer div#weii, div#prz, div#info {
        height: 115px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        section#footer div#weii a img, div#prz a img {
            width: 60%;
        }

    section#footer div#info p {
        color: #fff;
        text-align: right;
    }


footer {
    background-color: #252120;
    color: #fff;
    font-size: 16px;
    min-height: 60px;
}

    footer div {
        height: 60px;
    }

        footer div.copy {
            padding-top: 19px;
            text-align: center;
        }

/* #####################################################################################
###################### SEKCJA: podstrony################################################
##################################################################################### */

/*SHARED - SUBPAGESTITLE : contains subpage title and possibly search box/warning box*/
div#SubPagesTitle {
    background: rgba(255,255,255,.6);
    margin-top: -20px;
    text-align: center;
    padding: 2%;
    min-height: 130px;
    color: #212121;
}
div#SubpagesSearchBox-inner {
    position: relative;
    z-index: 999;
    height: 64px;
}
div#SubpagesSearchBox-main {
    width: 606px;
    height: 64px;
    margin: 0 auto;
    position: relative;
    transition: ease all .3s;
    background: #212121;
}
button#SubpagesSearchButton {
    width: 26%;
    height: 64px;
    border-radius: 2px;
    background-color: #cc242a;
    float: right;
    position: relative;
    border: 0;
}
input#Search, input#SearchB {
    font-family: 'lato',sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 0px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding-left: 10%;
    padding-right: 10%;
    z-index: 3;
    transition: ease all .3s;
}
div#SubpagesMainContent {
    background: rgba(255,255,255,.6);
    text-align: center;
    padding: 2%;
    color: #212121;
}
div#SubpagesImageList {
    width: 100%;
}
    div#Search h3 {
        font-size: 1.6em;
    }
div#Search {
    min-height: 240px;
}
/*END OF SHARED*/
div#RolePanel, div#AccountPanel {
    border-style: groove;
    border-radius: 20px;
}
    div#RolePanel h4{
        background: #eaeaea;
        padding: 2px 2px 2px 2px;
        text-align: -webkit-center;
        font-size: 1.5em;
        color: #bf2d2d;
        font-weight: 700;
        margin-top: 0px;
        border-radius: 20px;
    }
    div#AccountPanel h4 {
        background: #eaeaea;
        padding: 2px 2px 2px 2px;
        text-align: -webkit-center;
        font-size: 1.5em;
        color: #343961;
        font-weight: 700;
        margin-top: 0px;
        border-radius: 20px;
    }
    div#RolePanel .dl-horizontal dt, div#AccountPanel dl.dl-horizontal dt {
        padding-left: 20px;
        width: 210px;
        text-align: right;
    }
section#pages a, section#pages a:visited {
    color: #12354C;
    font-size: 0.93em;
    font-weight: 600;
    overflow: hidden;
    padding: 15px 10px;
    height: auto;
    -webkit-transition: 0.5s background ease;
    transition: 0.5s background ease;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    section#pages a:active, section#pages a:hover {
        color: #0075C1;
        text-decoration: none;
        -webkit-transition: 0.5s all ease;
        transition: all 0.5s ease 0s;
    }
.carousel-caption p {
    font-weight: bold;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #fff, 1px 1px 2px #fff, 1px 1px 2px #fff;
}
    section #pages div.container {
    margin-bottom: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    font-size: 13px;
    width: 100%;
}
/* SEKCJA: TRIP INDEX show list of trips*/
div#SubpagesTripIndex {
    background: rgba(255,255,255,.6);
    margin-top: -120px;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 17px;
    padding: 2%;
    min-height: 130px;
    color: #212121;
}


div.resultRow {
    background: rgba(255,255,255,.6);
    margin-bottom: 5px;
    box-shadow: 0 15px 5px -14px #3c2203;
    transition: all .5s;
    -webkit-transition: all .5s;
    font-size: 13px;
    min-height: 240px;
}
div.searchDataTd {
    font-size: 13px;
    padding: 10px;
    width: 40%;
    display: inline-block;
}
    div.searchDataTd div.name {
        margin-bottom: 10px;
        min-height: 80px;
        border-bottom: 1px dotted #999;
    }
    div.searchDataTd div.region {
        margin-bottom: 10px;
        color: #777;
    }
    div.searchDataTd .more > b {
        color: #777;
        font-size: 0.9em;
    }

div.searchImgTd {
    width: 28%;
    position: relative;
    float: left;
    display: inline-block;
    padding-top: 2%;
}
    div.searchImgTd .price {
        background: #ff4e00;
        color: #eee;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 5px;
        margin-top: 20px;
        text-align: center;
        position: absolute;
        left: 10px;
        outline: 2px solid #eee;
        width: 120px;
    }
    div.searchImgTd > a {
        display: block;
        margin-left: 70px;
    }
    div.searchImgTd img {
        height: 160px;
        width: 100%;
        box-shadow: 1px 1px 2px #777;
        border: 0 none;
        padding: 5px;
    }
div.searchTermTd {
    width: 21%;
    padding-top: 25px;
    display: inline-block;
    vertical-align: top;
}
    div.searchTermTd i{
        display:block;
    }
div.searchSeeBtn {
    width: 10%;
    padding-left: 0;
    float: right;
    display: inline-block;
}
    div.searchSeeBtn .code {
        color: #555;
        font-size: 11px;
        margin: 20% 0 5% 0;
        text-align: center;
        margin-bottom: 30%;
    }
        div.searchSeeBtn .code span {
            display: block;
            font-size: 1.1em;
        }
    div.searchSeeBtn a {
        display: block;
        width: 100px;
        height: 100px !important;
        border: 2px solid #aaa;
        border-radius: 50%;
        text-align: center !important;
        transition: all .5s !important;
        -webkit-transition: all .5s;
        box-shadow: 0 0 20px #aaa;
    }
        div.searchSeeBtn a span {
            display: table-cell;
            height: inherit;
            line-height: 120%;
            padding-top: 40%;
            padding-left: 20%;
        }
        h5.TripDesc{
            font-size: 13px;
        }

   /* HOME PAGE 6 OFFERS*/
div#homepageSearch-inner {
    margin-top: -20px;
    position: relative;
    z-index: 999;
    height: 64px;
    margin-bottom: 96px;
}
div#homepageSearchBox-main {
    width: 606px;
    margin: 0 auto;
    position: relative;
    transition: ease all .3s;
    background: #212121;
}
button#homepageSearchButton {
    width: 26%;
    height: 64px;
    border-radius: 2px;
    background-color: #cc242a;
    float: right;
    position: relative;
    border: 0;
}
div#homepageSearchField {
    width: 37%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    color: #e2e2e2;
}
    div#homepageSearchField > p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 700;
    }
input#PriceMin, input#PriceMax {
    font-family: 'lato',sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 0px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding-left: 10%;
    padding-right: 10%;
    z-index: 3;
    transition: ease all .3s;
}
div#homepageTrips {
    margin-top: -140px;
    background: rgba(255,255,255,.6);
    padding: 3% 1% 1%;
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.71;
    letter-spacing: 0.6px;
    margin-bottom: 16px;
}

div#homepage-offers-col {
    padding-left: 8px;
    padding-right: 8px;
    max-height: 600px;
}
    div#homepage-offers-col .homepage-offers-col {
        position: relative;
        height: 744px;
        margin-top: 16px;
    }
div.homepage-image {
    overflow: hidden;
    height: 410px;
    min-width: 102%;
    margin-left: -4px;
}
    div.homepage-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0;
        vertical-align:middle;
    }
.img-thumbnail {
    background-color: #00bfff00;
    border: 0;
    width: 90%;
}
div.offersContainer {
    min-height: 180px;
    position: relative;
    width: 100%;
    background-color: #0ba8e0;
}
    div.offersContainer .homepageOfferDestination-container {
        width: 50%;
        height: 167px;
        float: left;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        position: relative;
        color:#fff;
    }
div.homepageOfferDestination {
    width: 100%;
    font-size: 0.95em;
    font-weight: 300;
    line-height: 1.27;
    text-transform: uppercase;
    overflow: hidden;
    padding: 6px 10px 6px 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
div.homepageOfferNAME {
    font-weight: 900;
}
div.homepageOfferInformation-container {
    display: flex;
    width: 50%;
    height: 147px;
    float: left;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}
div.homepageOfferInformation {
    padding-left: 10px;
    padding: 999px 16px 998px 10px;
    margin: -999px 0;
    text-align: center;
}
div.homepageOfferPrice {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.25;
    padding: 3px 0px;
    letter-spacing: 0.2px;
    border-style: solid;
    background: #3cbd65;
}
div.homepageOfferTerm {
    font-size: 0.68em;
    font-weight: bold;
    padding: 2px 0;
    letter-spacing: 0.2px;
}
div.homepageOfferDesc {
    max-height: 70px;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 1.25;
    border-style: double;
    border-width: 0px 0px 2px;
    margin-bottom: 12px;
    overflow: auto;
    padding-bottom: 5px;
}

/*SEKCJA: EDIT/DETAILS TABLE LIST*/
table#SubpagesTableList {
    width: 100%;
    background-color: #fff;
    text-align:center
}
thead#SubpagesTableList {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
tr#SubpagesTableList-head {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align:center;
}
    tr#SubpagesTableList-head > th {
        font-family: Montserrat-Medium;
        font-size: 12px;
        color: #fff;
        line-height: 1.4;
        text-transform: uppercase;
        background-color: #333333;
        padding-top: 24px;
        padding-bottom: 20px;
        text-align: center;
    }
tbody#SubpagesTableList {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
tbody#SubpagesTableList > tr{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    tbody#SubpagesTableList > tr > th{
    }

    tbody#SubpagesTableList > tr > td{
        font-family: Montserrat-Regular;
        font-size: 14px;
        color: #808080;
        line-height: 1.4;
        padding-top: 18px;
        padding-bottom: 14px;
    }

div#SubpagesAdminButtons {
    margin-top: 30px;
}
div#SubpagesTableList{
    width:100%;
}
img#DetailsIMG.img-thumbnail {
    width: 20%;
}
textarea#Description, textarea#TripInstance_Description {
    float: left;
    width: 280px;
    min-height: 100px;
}


th#SubpagesTableList-head {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #333333;
    padding-top: 24px;
    padding-bottom: 20px;
    text-align: center;
}


tr#SubpagesTableList {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

td#SubpagesTableList {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
    padding-top: 18px;
    padding-bottom: 14px;
}

/*TRIP DETAILS section*/
h1.offerName {
    margin: 0;
    font-weight: normal;
    border-left: 10px solid #ff4e00;
    color: #3c2203;
    margin-bottom: 10px;
    padding: 10px 20px !important;
    background: rgba(255,255,255,.6);
}
.offerNo {
    text-align: center;
    margin-bottom: 15px;
    padding-right: 20px;
}
span.numberWrap {
    background: #3c2203;
    padding: 4px 10px;
    vertical-align: middle;
    color: #fff;
}
div.offerHeader {
    padding: 0 10px;
    margin-bottom: 15px;
}
div.offerImage {
    float: left;
    width: 59%;
    position: relative;
}
div.bigFotoWrap {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}
img#ImageTripOffer {
    height: 370px;
}
div.offerInfo {
    float: right;
    width: 40%;
    font-size: 1.1em;
    color: #333;
    text-align: left;
}
.offerInfo strong {
    display: inline-block;
    padding: 5px;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
    width: 40%;
    text-align: right;
    margin-top: 10px;
}
.offerInfo span {
    display: block;
    margin-left: 40%;
    margin-top: -25px;
}
    .offerInfo span#offerBtn {
        display: inline-block;
        margin-left: 0px;
        margin-top: 0px;
    }
.offerInfo hr:first-child {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #000;
}
div.offerDescription {
    padding: 0 10px;
    margin-top: 36%;
}
.offerDescription h3 {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #3c2203;
    margin-top: 20px;
    font-weight: normal;
    font-size: 1.7em;
    color: #3c2203;
    border-left: 20px solid #3c2203;
    padding-left: 10px;
    text-shadow: 1px 1px 2px #fff, 1px 1px 2px #fff, 1px 1px 2px #fff, 1px 1px 2px #fff;
}
.offerDescription > div {
    padding: 10px;
    background: rgba(255,255,255,.8);
    box-shadow: 0 15px 5px -14px #8b8376;
}
div#mainOffer {
    background: rgba(255,255,255,.6);
}


/*MEDIA responsive CSS section*/
/*only for main page DONE: min-360px width*/ 
@media (max-width: 767px) {
    div#accountNav {
        font-size: 18px;
    }
    div#homepageSearch {
        font-size: 10px;
    }
    div#homepageSearch-inner {
        margin-bottom: 110px;
    }
    div#tlo a#header {
        width: 90%;
    }

        div#tlo a#header img {
            width: 40%;
        }

    .nav > li {
        display: table-cell;
    }

    form#logoutForm.navbar-right {
        width: 100%;
    }

    div#homepageSearchBox-main {
        width: 80%;
        display: flex;
        margin: 0 auto;
        position: relative;
        transition: ease all .3s;
        background: #212121;
        padding-left: 6%;
    }

    div#homepageSearchField {
        width: 37%;
        display: inline-block;
    }

    button#homepageSearchButton {
        width: 100%;
        display: inline;
        height: 64px;
        position: relative;
        border: 0;
    }

    div#homepageTrips {
        font-size: 13px;
    }
        div#homepageTrips > div > p {
            width: 90%;
            margin-left: 17px;
        }

    .scrollToTop {
        width: 16%;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    div#tlo a#header {
        width: 50%;
    }
        div#tlo a#header img {
            width: 50%;
        }
    .nav > li {
        display: table-cell;
    }
    form#logoutForm.navbar-right {
        width: 100%;
    }
    div#homepageSearchBox-main {
        width: 80%;
        display: flex;
        margin: 0 auto;
        position: relative;
        transition: ease all .3s;
        background: #212121;
        padding-left: 6%;
    }
    div#homepageSearchField {
        width: 37%;
        display: inline-block;
    }
    button#homepageSearchButton {
        width: 100%;
        display: inline;
        height: 64px;
        position: relative;
        border: 0;
    }
    div#homepageTrips {
        font-size: 16px;
    }
    .scrollToTop {
        width: 7%;
    }
}

/*done*/@media (min-width: 992px) and (max-width: 1200px) {

}

/*done*/@media (min-width: 1200px) and (max-width: 1366px) {

}

/*done*/@media (min-width: 1366px) and (max-width: 1920px) {

}