@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Access Denied";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    Your account does not have permissions to view this site. If you believe this is an error, contact your system administrator.
</h2>
