@model System.Web.Mvc.HandleErrorInfo

<div id="SubPagesTitle">
    <h1>Access Denied</h1>
</div>

<section id="pages">
    <div id="SubpagesMainContent">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">
            Your account does not have permissions to view this site. If you believe this is an error, contact your system administrator.
        </h2>
    </div>
</section>





